.sidebar__menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -3;
  transition: 0.3s;
}

.sidebar__menu.active {
  left: 0;
}
