.active {
  color: rgb(160, 160, 160);
}

.navbar__active__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.navbar__link {
  color: rgb(222, 222, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
