.background {
  background: linear-gradient(0deg, #003e9c, #003e9c), url("../assets/images/forgot-password-screen.png");
  background-position: "center";
  background-repeat: "no-repeat";
  background-size: cover;
  background-blend-mode: multiply, normal;
}

.link {
  color: #0360ef;
}

.invalid input {
  border: 1px solid #fa0724;
  background-color: #fddddd;
}

.errorText {
  color: #fa0724;
}
