.background {
  background: url("../assets/images/login-screen.png");
  background-position: "center";
  background-repeat: "no-repeat";
  background-size: "cover";
}

.link {
  color: #0360ef;
}

.forgotPasswordLink {
  color: #a6aebb;
  font-size: 0.625rem;
  text-align: "center";
  display: block;
}
