.background {
  background: url("../assets/images/login-screen.png");
  background-position: "center";
  background-repeat: "no-repeat";
  background-size: "cover";
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

/* .link {
   color: #0360ef;
 } */
